@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@mixin tablet {

    @media only screen and ( max-width: 992px ) {
        @content
    }
    
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 14px;
    @include tablet{
        font-size: 12px;
     }
   
}

a{
    text-decoration: none;
    color: unset;
}
