@import './base';
@import './variables';
@import './mixins';


.container{
    width: 100%;
    max-width: 1620px;
    margin: auto;
  
    
}
.homeContainer{
    margin-top: 127px;
    position: relative;
    }

@forward  '/src/compenents/Header.scss';