@import './base';
@import './variables';
@import './mixins';


.container{
    width: 100%;
    max-width: 1620px;
    margin: auto;
  
    
}
.homeContainer{
    margin-top: 127px;
    position: relative;
    }

.dpflex{
    display: flex
}
.spaceTop{
    margin-top: $header-height + 37px;
    @include tablet{
        margin-top: $header-height + 87px;
    }
}

@forward  '/src/compenents/Header.scss';