@import '../sass/index.scss';

.homefeatured{

    &__title{
    
        text-align: center;
        font-size: 1rem;
        margin: 50px 0px;
    }
    &__container{
        display: flex;

        &__product{
            
            flex: 1;

            &__description{
                display: block;
                margin-left: 40px;
                width: 90%;
                // @include tablet{
                //     width: 100%;
                   
                // }
                line-height: 1.4rem;

            }

            & img{
                display: block;
                width: 100%;
                
            }
            &__name{
                font-size: 1.5rem;
                font-weight: bold;
                margin: 20px 0px;
                margin-left: 40px;
            }
            &__intro{
                display: block;
                width: 70%;
                line-height: 1.5rem;
                font-size: 1rem;
                margin-left: 40px;

            }
            &__btn{
                margin: 20px 40px;
                & button{
                    padding: 15px 40px;
                    cursor: pointer;
                    border: none;
                    background-color: red;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    margin-right: 20px;
                    margin-bottom: 20px;

                }

                
            }
            
        }

        &__performance {
            flex: 1;

            & img{
                display: block;
                width: 100%;
                
            }
        }
    }
}