

.homerecomend{
    margin-bottom: 50px;
    
    & h2{
        margin: 40px;
    }

    &__slide{
        position: relative;
        width: 90%;
        margin: auto;
    }

    .productSlide__navigation{
        display: flex;
        justify-content: space-between;

        .homerecomend__preProduct{
            font-size: 2.5rem;                
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 20px;
            z-index: 20;
            display: flex;
            cursor: pointer;
            i{
                margin: auto;
            }
        }
        .homerecomend__nextProduct{
            font-size: 2.5rem;                
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
            z-index: 20;
            display: flex;
            i{
                margin: auto;
            }
        }
    }
}