@import'../sass/index.scss';

.productcard{
    width: 31.33%;
    min-height: 510px;
   
   
    @include tablet{
        width: 100%;
        max-width: 100vh;
        margin: auto;
    }
    position: relative;

    & img{
        width: 100%;
       
    }

    &__info{
        padding: 10px 0px;
        &__row1{
            display: flex;
            justify-content: space-between;
            align-items: center;

            & span{
                font-weight: bold;
            }
        }
        & p{
            padding: 5px 0px;
        }
    }

    &__slide{
    
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: -10px;

        &__nextProduct{
            padding: 5px 5px;
            
            & i {
                font-size: 2rem;
            }
        }
        &__preProduct{
            padding: 5px 5px;
            
            & i {
                font-size: 2rem;
            }
        }
       
       
        &__mainSlide{
            flex: 1;
            max-width: 80%;
        }
       
    }

}